<%= form_with model [@photopost, @comment], local: true do |f| %>
   <%= render 'shared/error_messages', object: f.object %>
   
   <div class='form-group'>
     <%= f.text_area :content, class: 'form-control', id: 'content'\
                      placeholder: "コメントを入力してください" %>
   </div>
   
   <%= f.submit "コメントする", class: "btn btn-primary" %>
<% end %>